services:
  pg-0:
    image: bitnamilegacy/postgresql-repmgr:15
    container_name: pg-0
    environment:
      - POSTGRESQL_PASSWORD=adminpassword
      - REPMGR_PASSWORD=repmgrpassword
      - REPMGR_PRIMARY_HOST=pg-0
      - REPMGR_PARTNER_NODES=pg-0,pg-1
      - REPMGR_NODE_NAME=pg-0
      - REPMGR_NODE_ID=1
      - REPMGR_NODE_NETWORK_NAME=pg-0
    networks:
      - pg-network

  pg-1:
    image: bitnamilegacy/postgresql-repmgr:15
    container_name: pg-1
    depends_on:
      - pg-0
    environment:
      - POSTGRESQL_PRIMARY_HOST=pg-0
      - POSTGRESQL_PASSWORD=adminpassword
      - REPMGR_PASSWORD=repmgrpassword
      - REPMGR_PRIMARY_HOST=pg-0
      - REPMGR_PARTNER_NODES=pg-0,pg-1
      - REPMGR_NODE_NAME=pg-1
      - REPMGR_NODE_ID=2
      - REPMGR_NODE_NETWORK_NAME=pg-1
    networks:
      - pg-network

networks:
  pg-network:
    driver: bridge